DATABASE_URL=postgres://hashtag:hashtag@localhost:5434/hashtag_tracking
PORT=3000

IG_ACCESS_TOKEN=
IG_USER_ID=17841480695597364
IG_API_VERSION=v25.0
IG_GRAPH_BASE_URL=https://graph.facebook.com
IG_PAGE_SIZE=9

SYNC_MAX_ITEMS=500
SYNC_MAX_PAGES=120

QUEUE_DRIVER=memory
STORAGE_DRIVER=local

AWS_REGION=eu-west-1
SQS_QUEUE_URL=
S3_BUCKET=
S3_PREFIX=hashtag-media
LOCAL_STORAGE_DIR=./storage
